<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="~/css/bulma.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bulma-calendar/dist/css/bulma-calendar.min.css" >
  </head>
<body>

<partial name="_NavbarPartial" />

<div>
    @RenderBody()
</div>

  <script src="~/lib/bulma-calendar/dist/js/bulma-calendar.min.js"></script>
  <script src="~/js/site.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
