@model IEnumerable<Category>

<div class="container mt-6">
    <div class="columns is-multiline">
        @foreach (var category in Model)
        {
            <div class="column is-one-quarter">
                <a asp-area="" asp-controller="Category" asp-action="ViewCategory" asp-route-slug=@category.Slug
                    asp-route-categoryid=@category.CategoryId>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                @category.Title
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                @category.Description
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>