@model IEnumerable<Product>

<div class="container mt-6">
    <div class="columns is-multiline">
        @foreach (var product in Model)
        {
            <div class="column is-one-quarter">
                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-slug=@product.Slug
                    asp-route-productid=@product.ProductId>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                @product.ProductName
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                @product.Description
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>