@namespace GroGem
@model ProductViewModel

<div class="container">
    <div id="imageBox">
        @foreach (var image in Model.Images)
        {
            <img class="thumbnail" src="~/@image.Url" alt="Thumbnail">
        }
    </div>

    <div id="fullImageContainer">
        <img id="fullImage" src="~/@Model.Images.First().Url" alt="Full Image">
    </div>
</div>

<script src="~/js/product.js"></script>
